.form{
  margin-top: 30px;
}

.viewer{
  background-color: #e4e4e4;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 15px;
  /* width: 100vw; */
}

.table-responsive{
  display: flex;
  flex-direction: column !important;
  width: 100vw !important;
}

.convertTo{
  justify-content: center;
  text-align: center;
}

.convert-btn{
  display: flex;
  flex-direction: row;
}

.convert-btn h5{
  display: inline-block;
  margin-right: 10px;
}